DISCORD_TOKEN=YOUR_DISCORD_USER_TOKEN_HERE
POKEDEX100_COOKIE=YOUR_BROWSER_SESSIONID_COOKIE_HERE
TELEGRAM_BOT_TOKEN=8710967741:AAENbd6uaO88RrY3Pp64KhMFM_AgOhOHkfs
TELEGRAM_CHAT_ID=710848361
AutoStop=4
